<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Home</title>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/style.css">
  <link href="https://fonts.googleapis.com/css?family=Bitter" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Gruppo" rel="stylesheet">
</head>
<body>
  <header class="header-container">
    <h1 class="title">CURRENT CASH</h1>
    <div class="link-container">
      <a href="/signup">Sign Up</a>
      <a href="/login">Log In</a>
      <a href="/guest">Guest</a>
    </div>
</header>
  <div class="center-screen-white">
    <h3 class="guest-title">Welcome to Guest Access</h3>
    <h4>Choose a currency</h4>

    <div>
      <form action="/exchanges/guestsearch" method="get">
        <select name="base" id="">
          <option value=""></option>
          <option value="USD">USD - US Dollar</option>
          <option value="AUD">AUD - Australian Dollar</option>
          <option value="BGN">BGN - Bulgarian Lev</option>
          <option value="BRL">BRL - Brazilian Real</option>
          <option value="CAD">CAD - Canadian Dollar</option>
          <option value="CHF">CHF - Swiss Franc</option>
          <option value="CNY">CNY - Chinese Yuan</option>
          <option value="CZK">CZK - Czech Republic Koruna</option>
          <option value="DKK">DKK - Danish Krone</option>
          <option value="GBP">GBP - British Pound</option>
          <option value="HKD">HKD - Hong Kong Dollar</option>
          <option value="HRK">HRK - Croatian Kuna</option>
          <option value="HUF">HUF - Hungarian Forint</option>
          <option value="IDR">IDR - Indonesian Rupiah</option>
          <option value="ILS">ILS - Israeli New Sheqel</option>
          <option value="INR">INR - Indian Rupee</option>
          <option value="JPY">JPY - Japanese Yen</option>
          <option value="KRW">KRW - South Korean Won</option>
          <option value="MXN">MXN - Mexican Peso</option>
          <option value="MYR">MYR - Malaysian Ringgit</option>
          <option value="NOK">NOK - Norwegian Krone</option>
          <option value="NZD">NZD - New Zealand Dollar</option>
          <option value="PHP">PHP - Philippine Peso</option>
          <option value="PLN">PLN - Polish Zloty</option>
          <option value="RON">RON - Romanian Leu</option>
          <option value="RUB">RUB - Russian Ruble</option>
          <option value="SEK">SEK - Swedish Krona</option>
          <option value="SGD">SGD - Singapore Dollar</option>
          <option value="THB">THB - Thai Baht</option>
          <option value="TRY">TRY - Turkish Lira</option>
          <option value="ZAR">ZAR - South African Rand</option>
        </select>
        <input type="submit" value="Search">
      </form>
    </div>
<div>
    <h3>Countries that use your chosen currency:</h3>
    <% countries.forEach((item) => { %>
    <div><%= item.name %></div>
    <% }); %>
</div>

<div>
  <h3>Sign up, log in, and see how this currency compares to currencies around the world</h3>
</div>
  </div>










</body>
</html>
