<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Home</title>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/style.css">
  <link href="https://fonts.googleapis.com/css?family=Bitter" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">
</head>
<body>
  <header class="header-container">
    <h1 class="title">Current Cash</h1>
    <div class="link-container">
      <a href="/signup">Sign Up</a>
      <a href="/login">Log In</a>
      <a href="/guest">Guest</a>
    </div>

  <div class="center-screen-white">
    <h3 class="guest-title">Welcome to Guest Access</h3>
    <h4>Choose a currency</h4>

      <form action="/exchanges/guestsearch" method="get">
        <input type="text" name="base" placeholder="Type Currency Code">
        <input type="submit" value="Search">
      </form>
  </div>
  <div class="search-results-container">
    <h2>Search Results</h2>
      <% countries.forEach((item) => { %>
        <div><%= item.name %></div>
      <% }); %>
  </div>





</body>
</html>
