<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Home</title>
  <link rel="stylesheet" href="">
</head>
<body>

  <h1>Exchange Rates</h1>
  <p><%= money %></p>

  <form action="./search" method="get">
    <input type="text" name="base" placeholder="Type Currency Code">
    <input type="submit" value="Search">
  </form>

  <div>
    <% let allRates = money.rates;
      for (let code in allRates) { %>
      <div><%= code + ": " + allRates[code] %></div>
  <% } %>
  </div>


</body>
</html>
